.m-assess-body{
   
     @include flexbox(flex);
     @include flex-direction(column);
     width: 100%;
    .assess-header{
        @include box-sizing(border-box);
        @include border(0 0 1px 0,#cbd7cc);
        background: #f4f4f4;
        width: 100%;
        height: .5rem;
        text-align: center;
        line-height: .5rem;
        font-size: .21rem;
        font-weight: 700;
    }
    .assess-detail{
        width: 100%;
        height: 2.52rem;
        >ul{
            @include flexbox(flex);
            @include flex-direction(column);
            width: 100%;
            height: 2.52rem;
            background: #fff;
            >li{
                @include flexbox(flex);
                @include justify-content(space-between);
                @include box-sizing(border-box);
                @include border(0 0 1px 0, #cbd7cc);
                @include flex(1);
                width: 100%;
                line-height: .5rem;
                .s1>span:nth-child(1){
                    @include box-sizing(border-box);
                    padding-left: .04rem;
                    padding-right: .06rem;
                     color: #fd755a;
                     font-size: .08rem;
                     
                }
                .s1>span:nth-child(2){
                      font-size: .16rem;
                      font-weight: 700;
                }
                >span{
                    @include box-sizing(border-box);
                    padding-right: .2rem;
                   font-size: .16rem; 
                   color: #747a7c;
                   font-weight: 700;
                }
            }
            >li:first-child{
                >img{
                    width: 100%;
                }
            }
            >li:last-child{
               >div:nth-child(2){
                            
                   >input{
                        display: inline-block;
                        width: .7rem;
                        border: none;
                        text-align: right;
                        outline: none;
                        
                    }
                    >span{
                         font-size: .16rem;
                      font-weight: 700;
                    }
                }
                
            }
            
        }
        
       .assess-sub{ 
                @include flexbox(flex);
                @include justify-content(center);
                @include align-items(center); 
                   width: 100%;
                height: .55rem;
               
                 
                >span{
                          
                        @include box-sizing(border-box);
                        
                           display: block;
                           width: 3.3rem;
                           height: .41rem;
                           background: #f63d0a;
                           border-radius:.2rem ;
                           text-align: center;
                           line-height: .41rem;
                           color: white;
                           font-size: .23rem;
                    
                }
       } 
    }
    
    
    
    
}
