 .m-buy-body{
    
      @include flexbox(flex);
      @include flex-direction(column);
       width: 100%;
       height: 100%;
     .buy-header{
            
            @include flexbox(flex);
                width:100%;
                height:.5rem;
           .mypostion{
               color: #fd755a;
               text-align: center;
               line-height: 0.5rem;
               width: 0.67rem;
                height: 0.5rem;
                font-size: .2rem;
           }
           .search{
                @include flex(1);
                height: 0.5rem;
            
                text-align: center;
               
                >input{
                    text-align: center;
                    display: inline-block;
                    width: 2.45rem;
                    height: 0.37rem;
                    outline: none;
                    
                }
               
                
           }
           .choose{
                    width: 0.62rem;
                     color: #fd755a;
                    text-align: center;
                    line-height:0.5rem; ;
                    font-size: .2rem;
                    
                }
     }
        .buy-nav{
         
            width: 100%;
            height: 0.46rem;
           >ul{
               font-size: 0.17rem;
               @include flexbox(flex);
                width: 100%;
                height: 0.46rem;
                font-weight: 700;
               >li{
                   width: 100%;
                    height: 0.46rem;
                   @include flex(1);
                   @include box-sizing(border-box);
                   @include border(1px, #cbd7cc);
                   text-align: center;
                   line-height:0.46rem ;
                   
               }
               li:first-child{
                   @include box-sizing(border-box);
                   @include border(1px 1px 1px 0, #cbd7cc);
               }
               li:last-child{
                   @include box-sizing(border-box);
                   @include border(1px 0 1px 1px, #cbd7cc);
               }
           }
           
        }
        .choose-bar{
            @include flexbox(flex);
            width: 100%;
            height: .31rem;
            @include justify-content(space-between);
            
            >div:nth-child(1){
                @include box-sizing(border-box);
                padding-left: .07rem;
                font-size: .15rem;
                line-height: .31rem;
            }
            >div:nth-child(2){
                line-height: .31rem;
                 @include box-sizing(border-box);
                padding-right: .21rem; 
                   font-size: .15rem;
                   color: #fd755a;
            }
        }
        
         .choose-goods{
            @include flex(1);
            background: #fff;
            width: 100%;
            overflow: hidden;
             >div{
                 width: 100%;
                 position: relative;
                
                 padding-bottom: .57rem;
                  >dl{
                    @include flexbox(flex);
                    @include box-sizing(border-box);
                    @include border(0 0 1px 0, #cbd7cc);
                    width: 100%;
                    height: 1rem;
                    >dt{
                        width: 1.35rem;
                        height: 1rem;
                      >img{
                          @include box-sizing(padding-box);
                          padding-left:.1rem;
                          padding-top:.1rem;
                          width:1.06rem ;
                         height: .84rem;
                         
                         
                      }  
                    }
                    >dd{
                        @include flex(1);
                        >ul{
                            @include flexbox(flex);
                            @include flex-direction(column);
                             @include box-sizing(border-box);
                              padding-top: .07rem;    
                            >li:nth-child(1){
                                @include flexbox(flex);
                                @include justify-content(space-between);
                                >span:nth-child(1){
                                    
                                    font-size: .18rem;
                                    font-weight: 700;
                                }
                                >span:nth-child(2){
                                      @include box-sizing(border-box);
                                    padding-right: .1rem;  
                                    font-size: .13rem;
                                    color: #8d8d8d;
                                }
                                
                            }
                            >li:nth-child(2){
                                
                                font-size: 0.14rem;
                                  color: #8d8d8d;
                            }
                            >li:nth-child(3){
                                
                                font-size: 0.13rem;
                                  color: #8d8d8d;
                            }
                            >li:nth-child(4){
                                
                                font-size: 0.17rem;
                                  color:red;
                                 font-weight: 700;  
                            }
                        }
                    }
                }
           }
            
            
        }
        
    }
